.bell-container {
  position: relative;
}

.bell-container button {
  background: none;
  border: none;
  cursor: pointer;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.notifications-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  width: 300px;
  background-color: #ee9696;
  border: 1px solid #ff3131;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ff3131;
}

.notification-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.notification-item p {
  margin: 0;
  font-size: 14px;
}

.notification-item p:last-child {
  font-size: 12px;
  color: #666;
}
